<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
              http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5"
         xmlns="http://java.sun.com/xml/ns/javaee">

  <!-- Servlets -->
  <servlet>
    <servlet-name>greetServlet</servlet-name>
    <servlet-class>com.appspot.JavaGameAPCSServer.server.GreetingServiceImpl</servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>communicationServlet</servlet-name>
    <servlet-class>com.appspot.JavaGameAPCSServer.server.GameServiceImpl</servlet-class>
  </servlet>
  
	<servlet-mapping>
		<servlet-name>greetServlet</servlet-name>
		<url-pattern>/java_game_apcs_server/greet</url-pattern>
  	</servlet-mapping>
  
   	<servlet-mapping>
   		<servlet-name>communicationServlet</servlet-name>
    	<url-pattern>/game/update/</url-pattern>
    	<init-param>
			<param-name>action</param-name>
			<param-value>update</param-value>
		</init-param>
	</servlet-mapping>
	
   	<servlet-mapping><!-- use this to mark a game as finished. Not required, but may be cheaper for me.  -->
   		<servlet-name>communicationServlet</servlet-name>
    	<url-pattern>/game/end/</url-pattern>
    	<init-param>
			<param-name>action</param-name>
			<param-value>end</param-value>
		</init-param>
	</servlet-mapping>
	
  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>Java_Game_APCS_server.html</welcome-file>
  </welcome-file-list>

</web-app>
